body{
    background-color: #eef;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    color: rgb(255, 255, 255);
}

#hint{
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: gray;
}

input{
    padding: 8px;
    font-size: 16px;
}

button{
    padding: 8px 15px;
    margin: 10px;
    font-size: 16px;
}

#result{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
body{
    animation: flash 2s infinite;
}

@keyframes flash{
    0%   {background: red;}
    20%  {background: blue;}
    40%  {background: green;}
    60%  {background: yellow;}
    80%  {background: purple;}
    100% {background: red;}
}
